<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Finch</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <script src="scripts/minimal-theme-switcher.js"></script>
    <script src="scripts/htmx.min.js"></script>
    <link rel="stylesheet" href="styles/pico.min.css">
  </head>
  <body>
    <main class="container" id="main-content">
      {{template "stepper.html" .}}
    </main>

    <footer class="container">
      <small>Built with <a href="https://picocss.com">Pico</a></small>
    </footer>
  </body>
</html>
