<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Finch</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <script src="scripts/minimal-theme-switcher.js"></script>
    <script src="scripts/htmx.min.js"></script>
    <link rel="stylesheet" href="styles/pico.min.css">
  </head>

  <body>
    <header class="container">
      <nav>
        <ul><li><strong>Finch</strong></li></ul>
        <ul><li><button hx-post="/reset" hx-target="#main-content" hx-swap="innerHTML" hx-confirm="Are you sure? This will clear the loaded System Security Plan.">Reset</button></li></ul>
      </nav>
    </header>

    <main class="container" id="main-content">
      {{template "load-system-security-plan.html" .}}
      // TODO: add remaining steps (make sure to update how "reset" works).
    </main>

    <footer class="container">
      <small>Built with <a href="https://picocss.com">Pico</a></small>
    </footer>
  </body>
</html>
